body {
  background-color: #2b2b2b;
}

h1, p {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-content: center;
}

#game {
  background-color: #000;
  height: 800px;
}
